html {
  background-color: #f2ede0;
}

body {
	margin: 50px 0px;
  padding: 0px;
	text-align:center;
}

h1 {
  margin: 0px !important;
}

p {
  margin: 10px !important
}

h1, h2, p, a, input, button, div {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

hr {
  color: #c0c8c9;
}

.spacer {
  margin-top: 30px;
}

#content {
	width: 900px;
	margin: 0px auto;
	text-align: center;
	padding: 15px;
}

#doge-img {
  width: 250px;
}

#text {
  padding-bottom: 100px;
}

.button-success {
  color: white !important;
  border-radius: 6px !important;
  padding: 18px 30px !important;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}

.button-success {
  background: rgb(28, 184, 65) !important; /* this is a green */
}

input[type=text] {
  border: 1px solid #c0c8c9;
  padding: 15px;
  margin: 0 20px 10px 0px;
  width: 40px;
  border-radius: 6px;
  text-align: center;
  font-size: 20px;
}
