html {
  background-color: #f2ede0;
}

body {
	margin: 50px 0px;
  padding: 0px;
	text-align:center;
}

h1 {
  margin: 0px !important;
}

p {
  margin: 10px !important
}

h1, p, a {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}
  
.spacer {
  margin-top: 30px;
}  
	
#content {
	width: 900px;
	margin: 0px auto;
	text-align: center;
	padding: 15px;
}

#text {
  padding-bottom: 100px;
}

.button-success {
  color: white !important;
  border-radius: 4px !important;
  padding: 15px 30px !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}

.button-success {
  background: rgb(28, 184, 65) !important; /* this is a green */
}

.icon {
  padding: 4px;
  font-size: 18px;
}

#footer {
  background-color: #cba959;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0px 20px 0px !important;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}
